.input-wrapper {
  width: 100%;
  .input-content {
    position: relative;
    height: 40px;
    width: 100%;

    label {
      position: absolute;
      top: 12px;
      left: 0;
      color: $font-color;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
    }

    input {
      height: 100%;
      width: 100%;
      border: none;
      font-size: 18px;
      outline: none;
      border-bottom: 2px solid $font-color;

      &:focus ~ label,
      &:valid ~ label {
        transform: translateY(-20px);
        font-size: 15px;
        color: #d5135a;
      }

      &:focus ~ .underline:before,
      &:valid ~ .underline:after {
        transform: scaleX(1);
      }
    }

    .underline {
      position: absolute;
      height: 2px;
      width: 102%;
      bottom: -4px;

      &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: #d5135a;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease;
      }
    }
  }
}
