.open-card-btn {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid $primary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //onclick
  transform: translateY(-120%);
  -webkit-box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.75);
}
